<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>{% block title %}Investimenti{% endblock %}</title>
        <style type="text/css">
			tbody tr.even td {background-color: #beeebb; padding: 5px;}
			tbody tr.odd td {background-color: #eef9e5; padding: 5px; }
			body{font-family: sans-serif; }
			tbody th {background-color: #bbeebb; padding: 5px; padding-left: 20px; padding-right: 20px;}
		</style>
		

   	
    </head>
<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>

</html>
